:root {
  --bc-color: #fff;
  --text-color: #222;
  --title-color: #000;
}

/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px solid #ff6464;
  outline-offset: 2px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Heebo', 'Arial', sans-serif;
  background-color: var(--bc-color);
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 900px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  max-width: 1072px;
}


/* BUTTON */
.button {
  display: inline-block;
  padding: 13px 20px;
  border: 0;
  border-radius: 2px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
  background-color: transparent;
  color: var(--text-color);
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

/* SITE HEADER */
.site-header__container {
  display: flex;
  align-items: center;
  padding-top: 27px;
  padding-bottom: 27px;
}

.sitenav {
  margin-left: auto;
}

.sitenav {
  margin-right: 24px;
}

.sitenav__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 24px;
}

.sitenav__link {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: var(--title-color);
  transition: color 0.4s ease;
}

.sitenav__link:hover {
  color: #ff6464;
}

.sitenav__link:active {
  opacity: 0.6;
}

.site-header__button {
  display: none;
  padding: 0;
}

.site-header__button:hover {
  color: red;
}

.close-button {
  display: none;
  padding: 0;
}

.close-button:hover {
  /* background-color: red; */
  color: red;
}

/* MAIN CONTENT */

.main-content {
  flex-grow: 1;
}

.hero__container {
  display: flex;
  justify-content: space-between;
  padding-top: 140px;
  padding-bottom: 71px;
}

.hero__content {
  max-width: 500px;
  margin-right: 20px;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
}

.hero__text {
  margin-top: 0;
  margin-bottom: 38px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.hero__button {
  background-color: #FF6464;
  color: #fff;
}

.hero__img {
  display: block;
  object-fit: cover;
  border-radius: 50%;
  width: 243px;
  height: 243px;
}


/* POSTS */
.posts {
  background-color: #edf7fa;
}

.posts__container {
  padding-top: 32px;
  padding-bottom: 32px;
}

.posts__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.posts__title {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
}

.posts__button {
  color: #00a8cc;
}

.posts__button:hover {
  text-decoration: underline;
}

.posts__button:active {
  opacity: 0.6;
}

.posts__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.posts__item {
  width: calc(50% - 10px);
  padding: 24px 22px;
  border-radius: 4px;
  background-color: #fff;
}

.posts__item:nth-child(odd) {
  margin-right: 20px;
}

.posts__item-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
}

.posts__item-box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.posts__item-box span{
  display: inline-block;
  font-size: 18px;
  line-height: 26px;
}
.posts__item-box time{
  font-size: 18px;
  line-height: 26px;
}

.posts__item-box hr {
  width: 1px;
  height: 21px;
  border: 0;
  margin: 0 26px;
  background-color: #000;
}

.posts__item-text {
  margin: 0;
}


/* FEATURE */
.feature__container {
  padding-top: 30px;
  padding-bottom: 80px;
}

.feature__title {
  margin-top: 0;
  margin-bottom: 37px;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
}

.feature__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.feature__item {
  display: flex;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #E0E0E0;
}

.feature__item-img {
  margin-right: 18px;
  border-radius: 6px;
  object-fit: cover;
}

.item-content__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
}

.item-content__link {
  display: inline-block;
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.3s ease;
}

.item-content__link:hover {
  color: #00a8cc;
}

.item-content__link:active {
  opacity: 0.6;
}

.item-content__box {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}

.item-content__time {
  padding: 2px 10px;
  border-radius: 16px;
  font-weight: 900;
  font-size: 18px;
  background-color: #142850;
  color: #fff;
  margin-right: 26px;
}

.item-content__span {
  display: inline-block;
  font-size: 20px;
  line-height: 29px;
}

.item-content__text {
  margin: 0;
}

/* FOOTER */
.site-footer__container {
  padding-top: 51px;
  padding-bottom: 54px;
}

.action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.action__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 26px;
}

.action__item:not(:last-child) {
  margin-right: 35px;
}

.action__item-link {
  display: inline-flex;
  color: #21243D;
  transition: color 0.3s ease;
}

.action__item-link:hover {
  color: #ff6464;
}

.action__item-img {
  display: block;
  width: 30px;
}

.action__text {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
}


@media only screen and (max-width: 375px) {
  .sitenav {
    display: none;
  }

  .site-header__button {
    display: flex;
    margin-left: auto;
  }


  .site-header--open .site-header__container::before {
    position: fixed;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    z-index: 50;
    background-color: #fff;
    overflow: hidden;
  }

  .site-header--open .sitenav {
    position: absolute;
    right: 20px;
    top: 65px;
    display: block;
    z-index: 51;
    margin: 0;
  }

  .sitenav__list {
    align-items: flex-end;
    margin-left: auto;
    flex-direction: column;
  }

  .sitenav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 8px;
  }

  .site-header--open .close-button {
    display: flex;
    z-index: 55;
  }
}